@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background-color: #e8d9bf;
}

/* ヘッダー */
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 0 2.5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo{
    width: 226.76px;
}

.pc_nav ul{
    display: flex;
}

.pc_nav ul li{
    width: 104px;
    margin-right: 55px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.pc_nav ul li:last-child{
    margin-right: 0;
}

.slider_img{
    width: 100%;
}

.copy {
    text-align: center;
    margin: 100px auto;
    font-size: 30px;
    line-height: 1.6;
    max-width: 1000px;
    padding: 0 10px;
}

.copy h1 {
    margin: 60px auto 58px;
    font-size: 82px;
    line-height: 1.1;
    font-weight: normal;
}

.copy p{
    font-size: 23px;
    line-height: 1.65;
    max-width: 844px;
    margin: 0 auto;
}

#about_us {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto 50px;
    align-items: center;
    padding: 0 10px;
}
.img_photo  {
    width: 50%;
}

.img_photo img {
   border-radius: 0 0 82px 0;
   object-fit: contain;
}

.inner_aboutus {
    width: 41%;
    /* padding: 60px 0 40px 0; */
}
.inner_aboutus h2 {
    margin-bottom: 35px;
    font-size: 44px;
    line-height: 1.3;
    font-weight: normal;
}

.inner_aboutus p {
    line-height: 1.6;
    font-size: 16px;
    font-weight: normal;
}
.img_aboutuslogo {
    width: 272px;
    margin-bottom: 39px;
}

#menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#menu .img_photo{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

#menu .img_menulogo{
    width: 150px;
    margin: 0 auto 26px;
}

.inner_menu{
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 300px;
}

.menu h2 {
    font-size: 38px;
    color: #d30202;
    margin: -12px auto 24px 12px;
    font-weight: normal;
}

.menu p {
    line-height: 1.47;
}

.img_gallerylogo {
    width: 245px;
    margin: 75px auto 26px;
}

.img_gallery {
    width: 20%;
    display: flex;
}

#event {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.img_eventlogo {
    width: 173px;
    margin: 65px auto 38px;

}

.article {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    font-size: 23px;
    margin: 0 auto 22px;
    font-weight: normal;
}

.article:last-child {
    margin: 0 auto;
}

.article time {
    width: 10.4%;
}

.article p {
    width: 51%;
    text-align: left;
    text-decoration: underline;
    margin-left: 55px;
}

.box {
    padding: 35px 0;
    font-weight: bold;
    border: solid 3px #4f260b;
    background-color: #fff;
}


.img_accesslogo {
    width: 213px;
    margin: 56px auto 22px;
}

.map iframe {
    width: 100%;
    height: 471px;
}


.footer_logo {
    width: 226px;
}

.footer_info {
    display: flex;
    font-size: 20px;
    max-width: 1000px;
    padding: 86px 24% 82px;
    background-color: #fff;;
}

.cafe_info {
    margin-left: 68px;
    line-height: 1.95;
}

.copyright {
    width: 12%;
    padding: 0 44% 80px;
    font-size: 16px;
    background-color: #fff;
}

.page_top_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 125px;
  }

